  <nav>
    <a href="/"><p class="title">Baggsies</p></a>
    <div class="nav-menu">
      <a href="/areas">Areas</a>
      <a href="/groups">Groups</a>
      <a href="/bookings">Bookings</a>
    </div>
  </nav>