{{> nav }}
<main>
  <form id="room-form" action="/booking-summary" method="POST">
    <label class="form-heading">Select an area:</label>

    <!-- "rooms" will be an object of the rooms and all of their their details -->
    {{!-- can come back into here and change names of things to make them work no stress --}}
    {{#each areas}}
    <div class="room-listing">
      <input type="radio" id="{{name}}" name="drone" value="{{name}}" checked>
      <label for="{{name}}">{{name}}</label>
    </div>
    {{/each}}

    <input class="button" type="submit" value="Book">
    <div class="spacer-10vh"></div>
  </form>
  <div class="spacer-10vh"></div>
</main>
{{> footer }}